.main-content {
    margin-top: 5%;
}

.back-to-home-button {
    margin-top: 8px;
}

.bottoni-tabella {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 20px;
    font-size: 80px;
}